[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeqKat"]
	path = SeqKat
	url = https://github.com/theboutroslab/package-seqkat
[submodule "bedr"]
	path = bedr
	url = https://github.com/theboutroslab/package-bedr
